// Custom styles.
body {
    background-image:url(/images/123456.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
.main-inner {
    opacity: 0.8;
}
